body {
	background-color: black;
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	opacity: 0.9;
	text-align: center;
}
/** Header Section **/
header {
	height: 80px;
	padding: 10px;
	display: flex;
	border-bottom: 1px solid seashell;
	justify-content: space-between;
}
nav {
	display: flex;
	align-self: center;
	justify-content: space-between;
}
nav span {
	padding: 13px;
	text-decoration: underline;
}
.logo {
	height: 50px;
}
/** Main Body **/
.mainbody {
	display: flex;
	flex-direction: column;
	align-items: center;
}
/** Mission and Hero Banner Section **/
.mission {
	width: 100%;
	display: flex;
	justify-content: center;
}
.hero {
	background-image: url("mission-background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	height: 700px;
	width: 1200px;
}
.statement {
	background-color: black;
}
/** Seasonal Teas Section **/
.tea-array {
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.teabox {
	padding: 10px;
}
.teabox img {
	height: 200px;
	width: 300px;
	padding: 5px;
}
/** Location Section **/
.locations {
	background-image: url("locations-background.jpg");
	height: 500px;
	width: 1200px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.locations h2 {
	width: 100%;
}
.shopbox {
	width: 300px;
	height: 300px;
	background-color: black;
	margin: 15px 40px;
	align-self: center;
}